header.navbar.navbar-expand-md.d-print-none
  .container-xl
    button(
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbar-menu"
      aria-controls="navbar-menu"
      aria-expanded="false"
      aria-label="Toggle navigation"
    ).navbar-toggler
      span.navbar-toggler-icon

    h1.navbar-brand.navbar-brand-autodark.d-none-navbar-horizontal.pe-0.pe-md-3
      a(href="./index.pug")
        img(
          src="https://home.amikom.ac.id/brandguideline/assets/download/Logo%20Universitas%20Amikom%20Yogyakarta/svg/Logo%20Alternative%20One%20Color%20-%20Black%20-%20Horizontal.svg"
          alt="AMIKOM"
          width="110"
          height="32"
        ).navbar-brand-image

    .navbar-nav.flex-row.order-md-last
      .nav-item.dropdown
        a(
          href="#"
          data-bs-toggle="dropdown"
          aria-label="Open user menu"
        ).nav-link.d-flex.lh-1.text-reset.p-0
          span.avatar.avatar-sm A

          .d-none.d-xl-block.ps-2
            div Admin
            .mt-1.small.text-muted Administrator

        .dropdown-menu.dropdown-menu-end.dropdown-menu.arrow
          a(href="./dashboard.pug").dropdown-item Dashboard
          a(href="./sign-in.pug").dropdown-item Keluar
